body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    height: 90px;
    background-color: rgb(24, 66, 129);
    color: white;
    padding-top: 10px;
}

.header-logo {
    font-size: 30px;
    float: left;
    padding: 10px 20px;
}

.header-logo span {
    color: yellow;
}

.header-list li {
    float: right;
    font-size: 18px;
    padding: 20px 10px;
    margin-left: 10px;
}

.main {
    padding: 180px 0 100px 0;
    background-image:url(http://semarangkota.go.id/packages/upload/slider/s7KKteG.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.main-content {
    background-color: black;
    opacity: 0.5;
    padding: 20px;
    margin-bottom: 50px;
}

.main-content h1 {
    font-size: 36px;
}

.main-content h2 {
    font-size: 24px;
}

.content2 {
    background-color: white;
}


.kuliner-item {
    float: left;
    margin-right: 20px;
}

.kuliner-title {
    border-bottom: 1px solid;
    margin-top: 50px;
    margin-bottom: 10px;
}

.kuliner-item img {
    max-width: 300px;
}

.footer {
    margin-top: 50px;
    height: 90px;
    background-color: #2f5167;
    color: white;
    padding: 15px;
}

.footer-logo {
    font-size: 20px;
    float: left;
    padding: 10px 20px;
}

.footer-logo span {
    color: yellow;
}

.footer-list {
    float: right;
}

.footer-list li {
    font-size: 14px;
    padding-bottom: 20px;
}

/* tabel */

table.tableizer-table {
    font-size: 12px;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
} 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}
.tableizer-table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
}
